Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-invalid-enum-default-initialization,
  clang-analyzer-*,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-pro-type-member-init,
  modernize-*,
  performance-*,
  portability-*,
  readability-const-return-type,
  readability-container-size-empty,
  readability-identifier-naming,
  readability-inconsistent-declaration-parameter-name,
  readability-use-anyofallof
WarningsAsErrors: '*'
HeaderFilterRegex: '^(ds_vk|app|tests)/'
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: modernize-use-trailing-return-type.TransformFunctions
    value: true
  - key: modernize-use-trailing-return-type.TransformLambdas
    value: none
